<div id="about-me" class="about-me-anchor"></div>
<div class="about-me">
  <div class="about-me-content">
    <div class="about-me-left">
      <h2>{{ 'about-me.title' | translate }}</h2>
      <p class="about-me-description">
        {{ 'about-me.description' | translate }}
      </p>
      <div class="about-me-info">
        <div class="info-item">
          <img src="assets/img/house.png" alt="House">
          <span>{{ 'about-me.info.location' | translate }}</span>
        </div>
        <div class="info-item">
          <img src="assets/img/laptopsmal.png" alt="Laptop">
          <span>{{ 'about-me.info.remote' | translate }}</span>
        </div>
      </div>
      <a href="#say-hi-section">
        <button class="talk-button">{{ 'about-me.button' | translate }}</button>
      </a>
    </div>
    <div class="about-me-right">
      <img src="assets/img/photo.png" alt="Photo of Ray">
    </div>
  </div>
  <div class="about-me-arrow">
    <a href="#my-skills">
    <img src="assets/img/arrowleftdown.png" alt="Arrow">
  </a>
  </div>
</div>
