<div class="about-me">
    <div class="about-me-content">
      <div class="about-me-left">
        <h2>About me</h2>
        <p class="about-me-description" >
          Hello! I'm Ray from Rostock, a passionate web developer focused on creating dynamic and user-friendly websites. My strengths lie in frontend development with HTML, CSS, JavaScript, and Angular. I prioritize clean, well-structured code and always strive for optimal solutions to complex problems. If you think I would be a good fit for your project, feel free to contact me.
        </p>
        <div class="about-me-info">
          <div class="info-item">
            <img src="assets/img/house.png" alt="House">
            <span>based in Rostock</span>
          </div>
          <div class="info-item">
            <img src="assets/img/laptopsmal.png" alt="Laptop">
            <span>open to work remote</span>
          </div>
        </div>
        <button class="talk-button">Let's talk</button>
      </div>
      <div class="about-me-right">
        <img src="assets/img/photo.png" alt="Photo of Ray">
      </div>
    </div>
    <div class="about-me-arrow">
      <img src="assets/img/arrowleftdown.png" alt="Arrow">
    </div>
  </div>
  
  
