<div id="portfolio" class="portfolio-anchor"></div>
<div class="portfolio">
  <h2>{{ 'portfolio.title' | translate }}</h2>
  <p class="portfolio-description">
    {{ 'portfolio.description' | translate }}
  </p>
  <div class="portfolio-table">
    <div class="portfolio-row" *ngFor="let project of myProjekts; let i = index" [ngClass]="{'reverse': i % 2 !== 0}">
      <div class="portfolio-col image-col">
        <a [href]="project.links.live" target="_blank" rel="noopener noreferrer">
          <img [src]="project.img" [alt]="project.projekt | translate">
        </a>
      </div>
      <div class="portfolio-col info-col">
        <h3>{{ project.projekt | translate }}</h3>
        <p class="skills">{{ project.skills.join(' | ') }}</p>
        <p class="description">{{ project.projectDescription | translate }}</p>
        <button (click)="openLink(project.links.github)">GitHub</button>
      </div>
    </div>
  </div>
</div>
