<div class="references" *ngIf="translatedReferences">
  <h2>{{ translatedReferences.title }}</h2>
  <p class="intro">{{ translatedReferences.intro }}</p>
  <div class="references-list">
    <div class="reference-item" *ngFor="let ref of translatedReferences.list">
      <div class="quote-symbol">"</div>
      <div class="ref-info">
        <div class="ref-name">{{ ref.name }}</div>
        <div class="ref-title">{{ ref.title }}</div>
      </div>
      <div class="ref-text">{{ ref.reference }}</div>
    </div>
  </div>
  <div class="references-arrow">
    <img src="assets/img/arrowleftdown.png" alt="Next Section Arrow">
  </div>
</div>

