.my-skills {
    .skills-container {
      border: 4px solid black;  // Fetter schwarzer Rahmen
      position: relative;
      padding: 40px 20px 20px;    // Obere Padding-Erhöhung für den überlappenden H2
    }
  
    .skills-container h2 {
      position: absolute;
      top: -14px; /* Anpassen, sodass die Linie mittig an der Schrift verläuft */
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--backgroundColor); /* Gleicher Hintergrund wie die Seite */
      padding: 0 10px;
      margin: 0;
    }
  
      
    .skills-grid {
      display: flex;
      flex-wrap: wrap;         
      justify-content: center;
      gap: 50px;               
    }
      
      .skill-item {
        width: 120px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 120px;
        margin-bottom: 20px;

      }

      .skills-row {
        display: flex;
        justify-content: space-around;
      }
      
      img {
        width: 70px;
        height: 70px;
      }
  
      span {
        margin-top: 8px;
        font-size: 0.9rem;
      }
    
  
    .skills-arrow {
      margin-top: 20px;
      text-align: left;
  
      img {
        width: 50px;  // Größe anpassen
        height: auto;
      }
    }
}
  