<div class="hero">
    <div class="hero-title">
      <h1>
        {{ 'hero.titleI' | translate:{name} }}<br>
        {{ 'hero.titleII' | translate}}
      </h1>
    </div>
  

    <div class="hero-subtitle">
      <div class="line-with-name">
        <span class="line"></span>
        <span class="name">{{ 'hero.name' | translate}}</span>
      </div>
    </div>
  
    
    <div class="hero-footer">
      <div class="hero-email">mail&#64;gmx.de</div>
      <div class="scroll-container">
        <div class="scroll-arrow">
          <img src="assets/img/arrowscrolldown.png" alt="scroll arrow">
        </div>
        <div class="scroll-text">scroll<br>down</div>
      </div>
    </div>
    