<div class="hero">
    <div class="hero-title">
      <h1>
        Frontend<br>
        Developer
      </h1>
    </div>
  

    <div class="hero-subtitle">
      <div class="line-with-name">
        <span class="line"></span>
        <span class="name">Ray Don</span>
      </div>
    </div>
  
    
    <div class="hero-footer">
      <div class="hero-email">
        mail&#64;gmx.de
      </div>
      <div class="hero-scroll">
        <img src="assets/img/arrowschrolldown.png" alt="scroll arrow"> 
      </div>
    </div>
  </div>