<div class="main">
  <div class="main-content legalnotice-page">
    <!-- Close-Icon oben rechts -->
    <img src="assets/img/xicon.png" alt="{{ 'legalnotice.close' | translate }}" class="close-btn" (click)="toggleLegalNotice()">

    <h1>{{ 'legalnotice.title' | translate }}</h1>

    <p [innerHTML]="'legalnotice.address' | translate"></p>

    <p>{{ 'legalnotice.contact' | translate }}</p>
    <p [innerHTML]="'legalnotice.contactDetails' | translate"></p>

    <p [innerHTML]="'legalnotice.source' | translate"></p>
  </div>
</div>

  