.legalnotice-page {
    position: relative; // Notwendig für absolute Positionierung des Icons
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 78px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    padding: 20px;
    background-color: #f9f9f9; // Optional: heller Hintergrund
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.125rem;
      padding: 16px;
      position: relative;
      overflow: hidden;
      line-height: 1.6;
      max-width: 800px;
      text-align: left;
    }
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;  // Größe nach Bedarf anpassen
    height: auto;
    cursor: pointer;
  }
  