<div class="say-hi-section" id="say-hi-section">
  <div class="say-hi-inner">
    <h2>{{ 'say-hi.title' | translate }}</h2>
    <div class="contact-form">
      <h3>{{ 'say-hi.contactTitle' | translate }}</h3>
      <p class="form-description">
        {{ 'say-hi.formDescription' | translate }}
      </p>
      <!-- Formular mit ngSubmit -->
      <form #ngForm="ngForm" (ngSubmit)="sendMessage(ngForm)">
        <!-- Name Input -->
        <div class="input-group">
          <input
            type="text"
            name="name"
            placeholder="{{ 'say-hi.placeholder.name' | translate }}"
            [(ngModel)]="contactData.name"
            (blur)="validateName()"
          />
          <!-- Zeige bei Fehler das rote Icon, bei gültiger Eingabe das grüne -->
          <img
            *ngIf="nameError"
            src="assets/img/contactincorrect.png"
            alt="Error"
          />
          <img
            *ngIf="!nameError && contactData.name"
            src="assets/img/contactcorrct.png"
            alt="Correct"
          />
        </div>
        <div class="error-message" *ngIf="nameError">
          {{ 'say-hi.error.name' | translate }}
        </div>
  
        <!-- Email Input -->
        <div class="input-group">
          <input
            type="email"
            name="email"
            placeholder="{{ 'say-hi.placeholder.email' | translate }}"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [(ngModel)]="contactData.email"
            (blur)="validateEmail()"
          />
          <img
            *ngIf="emailError"
            src="assets/img/contactincorrect.png"
            alt="Error"
          />
          <img
            *ngIf="!emailError && contactData.email"
            src="assets/img/contactcorrct.png"
            alt="Correct"
          />
        </div>
        <div class="error-message" *ngIf="emailError">
          {{ 'say-hi.error.email' | translate }}
        </div>
  
        <!-- Message Textarea -->
        <div class="input-group">
          <textarea
            name="message"
            placeholder="{{ 'say-hi.placeholder.message' | translate }}"
            maxlength="300"
            [(ngModel)]="contactData.message"
            (blur)="validateMessage()"
          ></textarea>
          <!-- Zeige bei Fehler das rote Icon, bei gültiger Eingabe das grüne -->
          <img
            *ngIf="messageError"
            src="assets/img/contactincorrect.png"
            alt="Error"
          />
          <img
            *ngIf="!messageError && contactData.message"
            src="assets/img/contactcorrct.png"
            alt="Correct"
          />
        </div>
        <div class="error-message" *ngIf="messageError">
          {{ 'say-hi.error.message' | translate }}
        </div>
  
        <!-- Checkbox (außerhalb des Formulars) -->
        <div class="checkbox-group">
          <input
            type="checkbox"
            id="privacy"
            name="privacy"
            [(ngModel)]="privacyAccepted"
          />
          <label for="privacy">
            <span>{{ 'say-hi.checkbox.part1' | translate }}</span>
            <span class="privacy-link">
              <a [routerLink]="['/legalnotice']">{{ 'say-hi.checkbox.linkText' | translate }}</a>
            </span>
            <span>{{ 'say-hi.checkbox.part2' | translate }}</span>
          </label>          
        </div>
  
        <!-- Send Message Button -->
        <button type="submit" [disabled]="!isFormValid()">
          {{ 'say-hi.button' | translate }}
        </button>
        <div *ngIf="successMessage" class="success-message">
          {{ 'say-hi.success' | translate }}
        </div>
      </form>
    </div>
    <div class="scroll-to-hero">
      <button (click)="scrollToHero()">
        <img src="assets/img/arrowBlackUp.png" alt="Nach oben scrollen" />
      </button>
    </div>
  </div>
  
  
</div>
