/* Global Styles & Variablen */
:root {
  --backgroundColor: #FFFCF3;
  --headerHeight: 80px;
  --footerHeight: 100px;
  --boxShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: 'Syne';
  src: url('/assets/fonts/syne/static/Syne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/overpass/static/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Basis-Reset und Standardstile */
h1 {
  font-family: 'Syne', sans-serif;
  margin: 0;
  font-size: 64px;
}

h2 {
  font-family: 'Syne', sans-serif;
  font-size: 48px;
  transition: color 0.3s; // sorgt für sanften Übergang der Farbe
  &:hover {
      color: #00BC8F;
    }
}

h3 {
  font-family: 'Syne', sans-serif;
}


html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif !important;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}


/* Content Wrapper */
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1000;

  .header-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  }

  /* Media Queries für größere Geräte */
  @media (min-width: 900px) {
    .header-content {
      width: 900px;
    }
  }
  @media (min-width: 1440px) {
    .header-content {
      width: 1440px;
    }
  }
  @media (min-width: 1920px) {
    .header-content {
      width: 1920px;
    }
  }

  svg {
    display: block;
  }

  img {
    display: block;
    cursor: pointer;
  }
}

/* Main Content */
.main {
  flex: 1;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);

  .main-content {
    width: 100%;
  }

  /* Media Queries für Main-Content */
  @media (min-width: 900px) {
    .main-content {
      width: 900px;
    }
  }
  @media (min-width: 1440px) {
    .main-content {
      width: 1440px;
    }
  }
  @media (min-width: 1920px) {
    .main-content {
      width: 1920px;
    }
  }
}

/* Footer */
footer {
  background-color: var(--backgroundColor);
  width: 100%;
  height: var(--footerHeight);
  display: flex;
  justify-content: center;
  text-align: center;

  .footer-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  /* Media Queries für Footer-Content */
  @media (min-width: 900px) {
    .footer-content {
      width: 900px;
    }
  }
  @media (min-width: 1440px) {
    .footer-content {
      width: 1440px;
    }
  }
  @media (min-width: 1920px) {
    .footer-content {
      width: 1920px;
    }
  }
}
