<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="40">
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
            font-family="Arial, sans-serif" font-size="32" font-weight="bold" fill="white">
            [ R M ]
        </text>
        </svg>
        <p>&copy; Ray Don 20225</p>
      </div>
      <div class="footer-right">
        <div class="social-media">
          <a *ngFor="let item of socialMedia" [href]="item.link">
            <img [src]="item.img" [alt]="item.link" />
          </a>
        </div>
        <div class="legal">
          <a (click)="toggleLegalNotice()" [class.active]="isLegalNoticeOpen" class="legal-notice">legal notice</a>
        </div>        
      </div>
    </div>
  </footer>
  